.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
  }
  
  .card {
    background: white;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 32px;
    width: 100%;
    max-width: 550px;
    text-align: center;
    margin-top: 24px;
  }
  
  label {
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
    color: #444;
  }
  
  select,
  input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 16px;
  }
  
  
  button {
    width: 100%;
    background: linear-gradient(to right, #3f51b5, #303f9f);
    color: white;
    font-weight: bold;
    padding: 14px;
    border-radius: 25px;
    transition: 0.3s;
    font-size: 18px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  button:hover {
    transform: scale(1.05);
  }
  
  .file-upload {
    background: linear-gradient(to right, #007bff, #6610f2);
    padding: 12px 24px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  
  .file-upload:hover {
    transform: scale(1.05);
  }
  
  img {
    width: 100%;
    border-radius: 12px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  }

  h3{
    margin-top:32px;
    margin-bottom: 32px;
  }
  