name: datawise
services:
  mongo-dev:
    image: mongo:4.4.29
    profiles: [ development ]
    volumes:
      - mongodb:/data/db
    ports:
      - 27017:27017

  sql-server-dev:
    image: mcr.microsoft.com/mssql/server:2022-latest
    profiles: [ development ]
    environment:
      ACCEPT_EULA: Y
      MSSQL_SA_PASSWORD: DataWisedb_123
      MSSQL_COLLATION: Latin1_General_100_CI_AS_KS_WS_SC_UTF8
    volumes:
      - sql-server:/var/opt/mssql
    ports:
      - 1433:1433

  mongo-prod:
    image: mongo:4.4.29
    profiles: [ production ]
    volumes:
      - mongodb:/data/db
    restart: always

  sql-server-prod:
    image: mcr.microsoft.com/mssql/server:2022-latest
    profiles: [ production ]
    environment:
      ACCEPT_EULA: Y
      MSSQL_SA_PASSWORD: DataWisedb_123
      MSSQL_COLLATION: Latin1_General_100_CI_AS_KS_WS_SC_UTF8
    volumes:
      - sql-server:/var/opt/mssql
    restart: always

  ai:
    build:
      context: ../DataWise.AI
      dockerfile: ../docker/AI.Dockerfile
    profiles: [ production ]
    restart: always
    ports:
      - 2000:5000 

  volumes:
    - ai_models:/app/models

  api:
    build:
      context: ..
      dockerfile: docker/API.Dockerfile
    profiles: [ production ]
    links:
      - mongo-prod:mongo
    restart: always
    ports:
      - 2001:7085

  client:
    build:
      context: ../DataWise.Client
      dockerfile: ../docker/Client.Dockerfile
    profiles: [ production ]
    depends_on:
      - ai
      - api
    restart: always
    ports:
      - 2002:4200

volumes:
  mongodb:
  ai_models:
  sql-server:

networks:
  default:
    external: true
    name: proxy